// $black: #000000;
// $white: #ffffff;

// :root {
//   --text-colour: #{$black};
//   --bg-colour: #{$white};
// }

// @media (prefers-color-scheme: dark) {
//   :root {
//     --text-colour: #{$white}
//     --bg-colour: #{$black};
//   }
// }
:root {
  /* ## Colors */

  /* ### Primary */

  /* - Light red (CTA text): hsl(356, 100%, 66%) */
  --clr-primary-light-red-cta-text: hsl(356, 100%, 66%);
  /* - Very light red (CTA hover background): hsl(355, 100%, 74%) */
  --clr-primary-very-light-red-cta-hover-background: hsl(355, 100%, 74%);
  /* - Very dark blue (headings): hsl(208, 49%, 24%) */
  --clr-primary-very-dark-blue-headings: hsl(208, 49%, 24%);

  /* ### Neutral */

  /* - White (text): hsl(0, 0%, 100%) */
  --clr-neutral-white-text: hsl(0, 0%, 100%);
  /* - Grayish blue (footer text): hsl(240, 2%, 79%) */
  --clr-neutral-grayish-blue-footer-text: hsl(240, 2%, 79%);
  /* - Very dark grayish blue (body copy): hsl(207, 13%, 34%) */
  --clr-neutral-very-dark-grayish-blue-body-copy: hsl(206, 13%, 34%);
  /* - Very dark black blue (footer background): hsl(240, 10%, 16%) */
  --clr-neutral-very-dark-black-blue-footer-background: hsl(240, 10%, 16%);

  /* ### Gradient */

  /* Background gradient - Intro/CTA mobile nav: */

  /* - Very light red: hsl(13, 100%, 72%) */
  --clr-gradient-very-light-red-mobile-nav: hsl(13, 100%, 72%);
  /* - Light red: hsl(353, 100%, 62%) */
  --clr-gradient-light-red-mobile-nav: hsl(353, 100%, 62%);
  --clr-gradient-combined-mobile-nav: linear-gradient(
    135deg,
    #ff8f71 0%,
    #ff3e55 100%
  );

  /* Background gradient - body: */

  /* - Very dark gray blue: hsl(237, 17%, 21%) */
  --clr-gradient-very-dark-gray-blue-body: hsl(237, 18%, 21%);
  --clr-gradient-very-dark-gray-blue-menu-background: hsl(
    237,
    17%,
    21%,
    0.07999999821186066
  );
  /* - Very dark desaturated blue: hsl(237, 23%, 32%) */
  --clr-gradient-very-dark-desaturated-blue-body: rgb(63, 65, 100);
}
